container
  .intro.area
    h2 Introduction
    p
      | Polyphasic sleep is the practice of sleeping multiple times in a 24 hour period. This can range anywhere from two sleep cycles,
        to multiple sessions divied up throughout the day. The term is believed to have been coined by psychologist  J. S. Szymanski. It is
        widely observed throught various animal groups, and is considered the ancestral sleep pattern of most mammals.
    p
      | Humans along with the other species belonging to the Homininae Subfamily are considered to be biphasic sleepers. In
        nature they are observed to have a major sleep cycle during the night, with a shorter mid day nap ranging between 1-3 hours. However
        in modern culture most people tend to chunk this pattern into one major sleep cycle. It's no coincidence most people
        expierence a "mid-day slump". In fact in many parts of the world this sleeping habit is still widely practiced, and is especially 
        prevalent in less developed areas that have less access to electricity and nightime lighting. In other other cultures it's a general
        practice to have a mid-day break. Businesses close, workers are able to go home for a meal and nap before returning to work a couple
        hours later.
    p 
      | Polyphasic sleep does not refer to any single sleep pattern, it's an umbrella term for anything other than a monophasic sleep 
        schedule. Recently there has been some development in extending this general pattern even further. It has been observed that as we
        splinter our sleep cycle into more evenly distributed chunks throughout the day we need less overal sleep. This is true even for 
        biphasic sleep patterns, on average an extra hour of wakefulness is observed, in contrast to an eight hour monophasic sleep pattern.
    
    p 
      | Going along this line several sleep patterns have been developed and documented. These sleep schedules aim to reduce the total amount
        of time spent sleeping, by limiting the amount we sleep during the night and having one or more naps throught the day. As anything in 
        the field of human study and especially in the little understood human psyche, this has led to some controversy. Critques claim it's
        an unsound theory and that over time these nappers will suffer the same effects of those with chronic sleep disorders, such as
        reduced mental and physical ability, increased strees and anxiety, and a weakened immune system.
    
    p
      | Knowing scientists and doctors, this could take decades to study or begin approaching as a scientific community. Meanwhile there is
        potentially valuable time being spent sleeping every night. As they say, "Time is money!".

    p
      | Anyone with a busy schedule or that seeks to increase productivity is certain to be interested. Thus I've decided to test this 
        theory, and invite you to join along. I've made this app to help me during this expirement and to possibly help others curious 
        as to whether they can really increase their total time awake. I'm making no claims as to whether this will work beforehand
        and as usual results may vary. I must also advise; 
      br
        | ATTEMPT AT YOUR OWN RISK.
